Accelerator for Patient Services/flows/Clinical_Inquiry_Call_Script.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>General_or_Scheduling</name>
        <label>General or Scheduling</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>General_Call_Script</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>General</defaultConnectorLabel>
        <rules>
            <name>Scheduling</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduling</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Scheduling_Call_Script</targetReference>
            </connector>
            <label>Scheduling</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_Clinical</name>
        <label>Is it Clinical?</label>
        <locationX>248</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>General_or_Scheduling</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>General or Scheduling</defaultConnectorLabel>
        <rules>
            <name>Clinical_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Clinical</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clinical_Call_Script</targetReference>
            </connector>
            <label>Clinical Case</label>
        </rules>
    </decisions>
    <description>Branching logic to show either Clinical, General, or Scheduling call scripts based on the record type of the case.</description>
    <interviewLabel>Clinical Inquiry Call Script {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Patient Services Call Script</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Clinical_Call_Script</name>
        <label>Clinical Call Script</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ClinicalCallScript</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <elementReference>ClinicalCallScriptText</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>General_Call_Script</name>
        <label>General Call Script</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>GeneralCallScript</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <elementReference>GeneralCallScriptTemplate</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Scheduling_Call_Script</name>
        <label>Scheduling Call Script</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SchedulingCallScript</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <elementReference>SchedulingCallScriptTemplate</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_it_Clinical</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Placeholder for clinical call script</description>
        <name>ClinicalCallScriptText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>CLINICAL CALL SCRIPT. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Turpis egestas integer eget aliquet nibh praesent tristique magna. Eget magna fermentum iaculis eu non. Ipsum faucibus vitae aliquet nec ullamcorper sit. Congue eu consequat ac felis donec. Massa vitae tortor condimentum lacinia quis. Sit amet tellus cras adipiscing enim eu turpis egestas. Scelerisque fermentum dui faucibus in ornare quam. Nulla at volutpat diam ut venenatis tellus in metus vulputate. Et magnis dis parturient montes nascetur ridiculus. Id velit ut tortor pretium. Vitae tempus quam pellentesque nec nam. Nunc congue nisi vitae suscipit tellus mauris a diam.</text>
    </textTemplates>
    <textTemplates>
        <name>GeneralCallScriptTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>GENERAL CALL SCRIPT. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Turpis egestas integer eget aliquet nibh praesent tristique magna. Eget magna fermentum iaculis eu non. Ipsum faucibus vitae aliquet nec ullamcorper sit. Congue eu consequat ac felis donec. Massa vitae tortor condimentum lacinia quis. Sit amet tellus cras adipiscing enim eu turpis egestas. Scelerisque fermentum dui faucibus in ornare quam. Nulla at volutpat diam ut venenatis tellus in metus vulputate. Et magnis dis parturient montes nascetur ridiculus. Id velit ut tortor pretium. Vitae tempus quam pellentesque nec nam. Nunc congue nisi vitae suscipit tellus mauris a diam.</text>
    </textTemplates>
    <textTemplates>
        <name>SchedulingCallScriptTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>SCHEDULING CALL SCRIPT. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Turpis egestas integer eget aliquet nibh praesent tristique magna. Eget magna fermentum iaculis eu non. Ipsum faucibus vitae aliquet nec ullamcorper sit. Congue eu consequat ac felis donec. Massa vitae tortor condimentum lacinia quis. Sit amet tellus cras adipiscing enim eu turpis egestas. Scelerisque fermentum dui faucibus in ornare quam. Nulla at volutpat diam ut venenatis tellus in metus vulputate. Et magnis dis parturient montes nascetur ridiculus. Id velit ut tortor pretium. Vitae tempus quam pellentesque nec nam. Nunc congue nisi vitae suscipit tellus mauris a diam.</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
